body {
}

div#header {
    /* border-bottom: 1px solid #ddd; */
}

div #menu {
    margin: 20px 0 -10px -11px;
}

div#menu ul {
    /* list-style: none; */
    /* margin: none ! important; */
    /* padding: none; */
}

div#menu ul li {
    /* display: inline; */
    /* margin: none; */
    /* padding: none; */
}

div#content {
    padding-top: 10px;
}

div.post p {
    /* font-family: "adobe-garamond-pro"; */
}

div.post div.date {
    margin-top: -3px;
    margin-bottom: 15px;
    font-size: 80%;
    font-variant: small-caps;
}
