<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <title>Nat Williams{% if page.title %} | {{ page.title }}{% endif %}</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
  </head>

  <body class="tk-adobe-garamond-pro">
    <div id="container" class="container">
      <div id="header" class="tk-nimbus-sans page-header">
        <!-- <h1>Nathaniel Williams</h1> -->
        <h1>asdfasdf</h1>
      </div>

      <div id="content" class="tk-adobe-garamond-pro">
        {{ content }}
      </div>

      <div id="footer" class="tk-adobe-garamond-pro">
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/archive.html">archive</a></li>
          <li><a href="https://github.com/natw">github</a></li>
          <li><a href="mailto:nat@shima.su">email</a></li>
          <li><a href="https://twitter.com/natw">twitter</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
